<link rel="stylesheet" href="/css/user/account.css">
<div class="d-flex mt-3 justify-content-md-center">
  <div class="col-sm-6 p-3 border rounded-1 border-2" style="background-color:white;">
    <div class="row">
      <div class="col-sm-4 mx-0 pe-0 mt-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active accordion user-select-none text-body"><i class="m-1 bi bi-person"></i>My Account</a>
            <div id="collapseOne" class="collapse show">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active " href="/account">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="/account/changePassword"></i>Password</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="/account/bookings"><i class="m-1 bi bi-calendar"></i>My bookings</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 mx-0  border-start">
        <div class="card m-0 border border-0">

          <form action="/account/editUser/{{user.id}}" class="card-body w-75 mx-auto" method="post">
            <h5 class="w-25 mx-auto border-bottom pb-2">Your profile
            </h5>

            <div class="mb-3 mt-3 row">
              <label for="name" class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control name" name="name" value="{{user.name}}" size="25">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control email" name="email" value="{{user.email}}">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="birthday" class="col-sm-3 col-form-label">Date of birth</label>
              <div class="col-sm-9">
                <input type="date" class="form-control date" id="txtDate" name="birthday" value="{{user.birthday}}">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="gender" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="M">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="F">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="other" value="O">
                  <label class="form-check-label" for="inlineRadio3">Other</label>
                </div>
              </div>
            </div>

            {{!-- <a class="card-text btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#changePassword">Change
              password</a> --}}
            <button class="btn btn-primary" type="submit" value="Submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- </div> --}}





<!-- show courses-->
<script>
  if (`{{ user.gender }}` == 'M') {
    $('#male').prop('checked', true)
  }
    else if (`{{ user.gender }}` == 'F')
  {
    $('#female').prop('checked', true)
  }
        else if (`{{ user.gender }}` == 'O')
  {
    $('#other').prop('checked', true)
  }
$(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();

    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;    
    $('#txtDate').attr('max', maxDate);
});
</script>