<div class="container-fluid ">
	{{#if courses}}
		<h1 class="text-primary">Courses Listed</h1>
		<div class="container"></div>
			<div class="row"></div>
			{{#each courses}}
			<div class="col-sm-6">
				<div class="card border-primary mb-2 ">
					<div class="card-header col-12">
						<h5 class="card-title">{{title}}</h5>
					</div>
					<img src="../img/home_img.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<p class="font-italic">Description</p>
								<p class="text-info">
									{{description}}
								</p>
							</div>
							<div class="col">
								<p class="font-italic">Price</p>
								<p class="text-info">{{price}}</p>
							</div>
							<div class="col">
								<p class="font-italic">Level</p>
								<p class="text-info">{{level}}</p>
							</div>
							<div class="col">
								<p>
									<a href="/courses/editCourses/{{id}}" class="card-link mb-2">
										<i class="fas fa-pencil-alt"></i>
										Edit
									</a>
								</p>
								<p>
									<a href="/courses/deleteCourses/{{id}}" class="card-link" data-toggle="confirmation"
										data-title="Confirm delete?">
										<i class="far fa-trash-alt"></i>
										Delete
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
{{else}}
<h3>No Courses listed</h3>
{{/if}}

<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>