<style>
	.container{
		width: 40%;
		margin: auto;
	}
	.col-75 {
	margin-top: 2px;
	}
	.submit {
		width: 20%; 
		margin: auto;
		text-align: center;
	}
</style>
<h4><u>Editing Class</u></h4>
<h6 class="word">Current Course: <br> {{Course.title}}</h6>
<div class="container">
	{{!-- <form action="/classes/editClasses/{{classes.id}}" method="post"> --}}
	<form>
		<div class="form-group">
			<div class="col">
				<div class="row">
					<div class="col-25">
						<label for="date">Date:</label>
					</div>
					<div class="col-75">
						<input type="date" class="form-control" name="date" value={{Class.date}}>
					</div>
				</div>
				<br>

				<div class="form-group">
					<label for="pax">Pax:</label>
					<div class="col-75">
						<input type="text" class="form-control" name="pax" value={{Class.pax}}>
					</div>
				</div>
				<br>

      			<div class="form-group">
					<label for="max_pax">Max Pax:</label>
					<div class="col-75">
						<input type="number" class="form-control" name="max_pax" value={{Class.max_pax}}>
					</div>
				</div>
				<br>

			</div>
		</div>
		<br>
		<div class="update">
			<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
</div>