


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
<div class="container">
    {{#if courses}}
    <h3 class="text">Our Courses</h3>
    <div class="container">
        <div class="row">
            {{#each courses}}
            <div class="col-sm-4">
                <div class="card border-2 mb-2">
                    <div>
                        <a href="{{coursePic}}" data-title="{{title}}" data-toggle="lightbox">
                            <img src="{{coursePic}}" alt="Poster" class="img-thumbnail img-fluid"
                                onerror="this.src='/img/home_img.jpg'">
                        </a>
                    </div>
                    <div class="card-header col-12">
                        <h4 class="card-title text-start">{{title}}</h4>
                    </div>

                    <div class="card-body m-0">
                        <div class="row text-start">
                            <p class="text-info">{{level}}</p>
                        </div>
                        <div class="row text-start">
                            <h5 class="text">{{description}}</h5>
                        </div>
                        <div class="row text-start">

                            <p class="text fw-bold">
                                ${{price}}
                            </p>
                        </div>            
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            More Info
                        </button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
{{else}}
<h3>No Courses yet</h3>
{{/if}}


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
            </div>
            <div class="modal-body">
                <p value="level">{{level}}</p>
                <p value="description">{{description}}</p>
                <p value="price">{{price}}</p>
                <h3>Reviews from our students</h3>
                <p value="name">{{name}}</p>
                <p value="star_count">{{star_count}}</p>
                <p value="review">{{review}}</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <div class="p-2"><a class="btn btn-primary" href="/booking/addBooking">Book Class</a></div>
            </div>
        </div>
    </div>
</div>
</div>
</main>

<script>
  var exampleModal = document.getElementById('staticBackdrop')
  exampleModal.addEventListener('show.bs.modal', function (event) {

    // Button that triggered the modal
    var button = event.relatedTarget

    // Extract info from data-bs-* attributes
    var title = button.getAttribute('data-bs-title')
    var level = button.getAttribute('data-bs-level')
    var description = button.getAttribute('data-bs-description')
    var price = button.getAttribute('data-bs-price')
    var name = button.getAttribute('data-bs-name')
    var star_count = button.getAttribute('data-bs-star_count')
    var review = button.getAttribute('data-bs-review')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyLevel = exampleModal.querySelector('.modal-body level')
    var modalBodyDescription = exampleModal.querySelector('.modal-body description')
    var modalBodyPrice = exampleModal.querySelector('.modal-body price')
    var modalBodyName = exampleModal.querySelector('.modal-body name')
    var modalBodyStar_Count = exampleModal.querySelector('.modal-body star_count')
    var modalBodyReview = exampleModal.querySelector('.modal-body review')
    modalBodyLevel.value = level
    modalBodyDescription.value = description
    modalBodyPrice.value = price
    modalBodyName.value = name
    modalBodyStar_Count.value = star_count
    modalBodyReview.value = review
  })
</script>