
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')
    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>




<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
<div class="container">
    {{#if courses}}
    <div class="container m-5">
        <div class="row">
            {{#each courses}}
            <div class="col-sm-4">
                <div class="card border-2 mb-2">
                    <div>
                        <a href="{{coursePic}}" data-title="{{title}}" data-toggle="lightbox">
                            <img src="{{coursePic}}" alt="Poster" class="img-thumbnail img-fluid"
                                onerror="this.src='/img/home_img.jpg'">
                        </a>
                    </div>
                    <div class="card-header col-12">
                        <h4 class="card-title text-start">{{title}}</h4>
                    </div>

                    <div class="card-body m-0">
                        <div class="row text-start">
                            <p class="text-info">{{level}}</p>
                        </div>
                        <div class="row text-start">
                            <h5 class="text">{{description}}</h5>
                        </div>
                        <div class="row text-start">

                            <p class="text fw-bold">
                                ${{price}}
                            </p>
                        </div>            
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            More Info
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{level}}</p>
                                        <p>{{description}}</p>
                                        <p>${{price}}</p>
                                        <section style="color: #000; background-color: #f3f2f2;">
                                            <div class="container py-5">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-md-10 col-xl-8 text-center">
                                                        <h3 class="fw-bold mb-4">Reviews</h3>
                                                    </div>
                                                </div>
                                                <div class="row text-center">

                                                    <div class="col-md-4 mb-4 mb-md-0">
                                                        <div class="card">
                                                            <div class="card-body py-4 mt-2">
                                                                <h5 class="font-weight-bold"></h5>
                                                                <ul class="list-unstyled d-flex justify-content-center">
                                                                    <p>{{'Reviews.star_count'}}</p>
                                                                    <p class="mb-2">
                                                                        <i
                                                                            class="fas fa-quote-left pe-2"></i>{{'Reviews.review'}}
                                                                    </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <div class="p-2"><a class="btn btn-primary"
                                                        href="/booking/addBooking/{{id}}">Book Class</a></div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}

        </div>

    </div>
    {{else}}
    <h3>No Courses yet</h3>
    {{/if}}
    </main>
</div>
{{!-- <a class="btn btn-primary" href="/booking/addBooking/{{id}}">Book Class</a> --}}
<script>
  var exampleModal = document.getElementById('staticBackdrop')
  exampleModal.addEventListener('show.bs.modal', function (event) {

    // Button that triggered the modal
    var button = event.relatedTarget

    // Extract info from data-bs-* attributes
    var title = button.getAttribute('data-bs-title')
    var level = button.getAttribute('data-bs-level')
    var description = button.getAttribute('data-bs-description')
    var price = button.getAttribute('data-bs-price')
    var name = button.getAttribute('data-bs-name')
    var star_count = button.getAttribute('data-bs-star_count')
    var review = button.getAttribute('data-bs-review')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modalBodyLevel = exampleModal.querySelector('.modal-body level')
    var modalBodyDescription = exampleModal.querySelector('.modal-body description')
    var modalBodyPrice = exampleModal.querySelector('.modal-body price')
    var modalBodyName = exampleModal.querySelector('.modal-body name')
    var modalBodyStar_Count = exampleModal.querySelector('.modal-body star_count')
    var modalBodyReview = exampleModal.querySelector('.modal-body review')
    modalBodyLevel.value = level
    modalBodyDescription.value = description
    modalBodyPrice.value = price
    modalBodyName.value = name
    modalBodyStar_Count.value = star_count
    modalBodyReview.value = review
  })
</script>