<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>
{{#if courses}}
<h2 class="text-primary mt-4">Courses Listed</h2>

<div class="row">
    {{#each courses}}
    <div class="col">
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>

                <p class="card-text">{{description}}</p>
                <div class="d-flex flex-row mb-3">
                    <div class="p-2"><h6 class="card-subtitle mb-2 text-muted">${{price}}</h6></div>
                    <div class="p-2"><h6 class="card-subtitle mb-2 text-muted">{{level}}</h6></div>
                    <div class="p-2"><a class="btn btn-primary" href="/booking/addBooking">Book Now</a></div>
                </div>
                <div class="container">
                    {{!-- {{#if Reviews}}
                    <h3 class="text">Reviews</h3>
                    <div class="container">
                        <div class="row">
                            {{#each Reviews}}
                            <div class="col-sm-4">
                                <div class="card border-2 mb-2">
                                    <div class="card-header col-12">
                                        <h4 class="card-title text-start">{{user_name}}</h4>
                                    </div>
                                        <div class="card-body m-0">
                                            <div class="row text-start">
                                                <p class="text">{{user_emai}}</p>
                                            </div>
                                            <div class="row text-start">
                                                <h5 class="text">{{star_count}}</h5>
                                            </div>
                                            <div class="row text-start">
                                                <p class="text-info">{{review}}</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{else}}
                <h3>No Reviews yet</h3>
                {{/if}} --}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
<h3>No Courses listed</h3>
{{/if}}