<div class="container">
	{{#if classes}}
	<div class="card card-body">
		<h3 class="text-dark">Classes</h3>
		{{#each classes}}
		<div class="card border-black mb-2">
			<div class="card-body">
				<div class="row">

                    <div class="col">
						<p class="text-primary">Course ID</p>
						<p class="text-dark">{{CourseId}}</p>
					</div>

					<div class="col">
						<p class="text-primary">Class ID</p>
						<p class="text-dark">{{id}}</p>
					</div>

					<div class="col">
						<p class="text-primary">Time</p>
						<p class="text-dark">{{time}}</p>
					</div>

					<div class="col">
						<p class="text-primary">Date</p>
						<p class="text-dark">{{date}}</p>
					</div>
						
				</div>
			</div>
		{{/each}}
        </div>
	</div>
	{{else}}
	<h3>No Classes</h3>
	{{/if}}
</div>
</div>