<style>
    i:hover {
        color: rgb(210, 169, 171);
    }

    .btn {
        background-color: rgb(210, 169, 171);
        border: none;
    }
</style>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
<div class="container">
    {{#if products}}
    {{!-- <h3 class="text">Products</h3> --}}
    <div class="container m-4">
        <div class="row">
            {{#each products}}
            <div class="col-sm-4">
                <div class="card border-2 mb-2">
                    <div>
                        <a data-title="{{prod_name}}" data-toggle="lightbox">
                            <img src="{{posterURL}}" alt="Poster" class="img-fluid"
                                onerror="this.src='/img/home_img.jpg'">
                        </a>
                    </div>
                    <div class="m-3">
                        <div class="col-12">
                            <div class="row text-start">
                                <p class="text-secondary opacity-75 mt-0">{{difficulty}}</p>
                            </div>
                            <h4 class="card-title text-start">{{prod_name}}</h4>
                        </div>
                        {{!-- <div class="row text-start">
                            <h5 class="text">{{prod_desc}}</h5>
                        </div> --}}
                        <div class="row text-start">

                            <p class="text">
                                ${{price}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-6 text-start mb-3 ms-4"><input type="number" id="{{id}}-quantity" name="quantity" value="{{quantity}}"
                            placeholder="0" min="1" max="100"></div>
                    <br>
                    <div class="col mb-3 me-1"><button type="button" class="btn btn-dark"><i class="bi bi-cart"
                                id="{{id}}-addToCart"
                                onclick="addToCart('{{id}}','{{price}}', '{{prod_name}}')"></i></button></div>
                    </div>
                </div>
                
            </div>
            {{/each}}
        </div>
    </div>

</div>
{{else}}
<h3>No products yet</h3>
{{/if}}
<script src="/js/addToCart.js"></script>
</main>