<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
<div class="container">
    {{#if products}}
    <h3 class="text">Products</h3>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-sm-4">
                <div class="card border-2 mb-2">
                    <div>
                        <a href="{{posterURL}}" data-title="{{prod_name}}" data-toggle="lightbox">
                            <img src="{{posterURL}}" alt="Poster" class="img-thumbnail img-fluid"
                                onerror="this.src='/img/home_img.jpg'">
                        </a>
                    </div>
                    <div class="card-header col-12">
                        <h4 class="card-title text-start">{{prod_name}}</h4>
                    </div>

                    <div class="card-body m-0">
                        <div class="row text-start">
                            <p class="text-info">{{difficulty}}</p>
                        </div>
                        <div class="row text-start">
                            <h5 class="text">{{prod_desc}}</h5>
                        </div>
                        <div class="row text-start">
                            <p class="text fw-bold">
                                ${{price}}
                            </p>
                            <div class="col"><input type="number" id="quantity" name="quantity" value="{{quantity}}" min="0" max="100"></div>
                            <div class="col"><i class="bi bi-cart" id="addToCart" data-price="{{price}}" data-prod_name="{{prod_name}}" data-quantity="{{quantity}}" onclick="test('{{price}}', '{{prod_name}}', '{{quantity}}')"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
{{else}}
<h3>No products yet</h3>
{{/if}}
<script src="/js/addToCart.js"></script>
</main>