<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>
<div class="container">
    {{#if items}}
    <h3 class="text">Cart</h3>
    <div class="container">
        <div class="row">
            {{#each items}}
            {{!-- <div class="col"> --}}
                <div class="card border-2 mb-2">
                    <div class="row">
                        <div class="col-2 mt-auto">
                            <div class="card-body row"> <input type="checkbox" id="{{productId}}-checkbox"
                                    onclick="toggleCheckbox(event, '{{price}}')">
                            </div>
                        </div>
                        <div class="col-3 mt-auto">
                            <div class="card-body row-4">
                                <a href="{{posterURL}}" data-title="{{prod_name}}" data-toggle="lightbox">
                                    <img src="{{posterURL}}" alt="Poster" class="img-thumbnail img-fluid"
                                        onerror="this.src='/img/home_img.jpg'">
                                </a>
                            </div>
                        </div>
                        <div class="col mt-auto">
                            <div class="card-body">
                                <h4 class="card-title text-start">{{prod_name}}</h4>
                            </div>
                            <div class="card-body m-0">
                                <div class="row text-start">
                                    <p class="text-info">{{quantity}}</p>
                                </div>
                                {{!-- <div class="row text-start">
                                    <h5 class="text">{{prod_desc}}</h5>
                                </div> --}}
                                <div class="row text-start">
                                    <p class="text fw-bold">
                                        ${{price}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-auto">
                            <a href="/cart/deleteItemFromCart/{{cartId}}"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>
                {{!--
            </div> --}}
            {{/each}}
        </div>
        <div class="row">
            <div class="col">
                <div style="font-size: 20px">Total Price: $<b id="total-price">0.00</b></div>
            </div>
            <div class="col">
                <a class="btn btn-outline-primary" href="/payment/{{cartId}}">Proceed to Checkout</a>
            </div>
        </div>
    </div>

</div>
{{else}}
<h3>No products yet</h3>
{{/if}}
<script>
    function toggleCheckbox(event, price) {
        let isChecked = event.target.checked;
        let totalPrice = parseFloat($('#total-price')[0].textContent);

        if (isChecked) {
            totalPrice += parseFloat(price);
            $('#total-price').text(totalPrice.toFixed(2))
        } else {
            totalPrice -= parseFloat(price);
            $('#total-price').text(totalPrice.toFixed(2))
        }
    }
</script>
</main>