<p>Home > Classes > Book Now</p>

<script>
  var mysql = require('mysql');
  var DB_Conn = mysql.createConnection({
      host: "localhost",
      port: 3306,
      user: "fdspUser",
      password: "fdsp",
      database: "fdspdb"
    });

    DB_Conn.connect(function(db_error) {
      if (db_error) throw db_error;
      console.log("Connected!");
      var sql = "select * from classes where user_id='1' and course_difficulty='Advanced'";

      DB_Conn.query(sql, function (db_error, result) {
    if (db_error) throw db_error;
    {{!-- console.log(result); --}}
  });
});
</script>

<div class="container">
  {{#if classes}}
  <div class="card">
    {{#each classes}}
    <p>Hi user {{user.id}}</p>
    <p>Now you will be proceeding to book the classes available.</p>
		<h3 class="text-primary">Workshops Available:</h3>
    <p>This will be class ID {{classes.id}}</p>
    <div class="card-related">
		  <form method="POST" action="">
        <div class="card-details">
            <h5 class="card-starter">
              <!--According to difficulty="Advanced"-->
              <div class="card" style="width: 18rem;">
                <img src="img/advanced_img.jpg" class="card-img-top1" alt="int act" width="290" height="367">
                <p class="text-info">{{console.log(result)}}</p>
                <p class="text-info">{{classes.course_name}}</p>
                <p class="text-info">{{classes.course_price}}</p>
            </h5>
            <p class="card-text">Our extremely beginner friendly introductory course. 
            In this class, we will be covering how to operate a sewing machine and other basic sewing techniques.</p>

          <div class"description">
            <p>Timing Available on
            <br>
            <p class="text-info">{{classes.date}}</p>
            </p>

            <div class="col-sm-12 col-md-12 col-lg-2">
                  <p class="instructor_name">Instructor Name</p>
                  <p class="text-info">{{classes.instructor_name}}</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2">
                  <p class="time">Time</p>
                  <p class="text-info">{{classes.time}}</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2">
                  <p class="pax">Pax</p>
                  <p class="text-info">{{classes.pax}}</p>
            </div>
            <br>
            <div class="submit">
              <button class="btn btn-primary waves-effect" type="submit"><a href="/confirm">Confirm Now</a></button>
            </div>
      </form>
    </div>
  {{/each}}
	</div>
	{{else}}
	<h3>Unable to book now</h3>
	{{/if}}
</div>
			
				<div class="submit">
				<button class="btn btn-primary waves-effect" type="submit">+ Create</button>
				</div>
		</form>
	</div>
    {{!-- <div class="card" style="width: 18rem;">
        <img src="img/advanced_img.jpg" class="card-img-top1" alt="int act" width="290" height="367"> --}}
