<link rel="stylesheet" href="public/css/user/confirmation.css">
<p>Home > Classes > Book Now > Confirmation</p>
<style type="type/css">
    div.container {
		width: 80%;
		margin: auto;
		margin-top: 30px;
	}
	.word {
		font-weight: light;
		text-decoration: underline;
	}
</style>

<div class="container">
	{{#if booking}}
	<div class="card card-body">
		{{#each booking}}
       <p>Do confirm your booking ID of {{id}}.</p>
		<div class="card border-dark mb-2 w-50 mx-auto">
			<div class="card-body">
				<div class="row">					
					<div class="col">
						<u class="details">Details:</u>
						<br>
						<br>
						<i class="text-dark">Date:</i> 
                        <p class="text-primary">{{Class.date}}</p>
					</div>

					<div class="col">
						<u class="classes"> Class that will be booked:</u>
						<br>
						<br>
						<i class="text-dark">ID of this class that will be booked:</i> 
						<p class="text-primary">{{ClassId}}</p>

						<i class="text-dark">Course ID:</i> 
						<p class="text-primary"> {{CourseId}}</p>

						<i class="text-dark">Course Name:</i> 
                        <p class="text-primary">{{Course.title}}</p>

						<i class="text-dark">Course Description:</i> 
						<p class="text-primary">{{Course.description}}</p>

						<i class="text-dark">Level:</i> 
                        <p class="text-primary">{{Course.level}}</p>
					</div>

					<div class="col">
						<u class="information">Information:</u>
						<br>
						<br>
						<i class="text-dark">Price of the course:</i> 
						<p class="text-primary">{{Course.price}}</p>

						<i class="text-dark">Number of Pax selected:</i> 
                        <p class="text-primary">{{Class.pax}}</p>
					</div>
                    <br>
				</div>
                    <div class="submit">
                    	<a class="btn btn-primary" type="submit"><a href="/booking/successful/{{id}}">Confirm</a>						
                    </div>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>Nothing to be confirmed</h3>
	{{/if}}
</div>