<style>
	.container {
		width: 40%;
		margin: auto;
	}

	.col-75 {
		margin-top: 2px;
	}

	.submit {
		width: 20%;
		margin: auto;
		text-align: center;
	}
</style>
<div class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<h3>Editing Booking: </h3>
	<div class="card card-body">
		<form action="" method="post">
			{{!-- <div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="CourseId">Course ID:</label>
					</div>
					<select class="form-select" id="CourseId" name="CourseId" aria-label="Default">
						{{#each courses}}
						<option value="{{id}}" name="CourseId">{{id}}</option>
						{{/each}}
					</select>
				</div>
				<br> --}}

				<div class="form-group">
					<div class="row">
						<div class="col-25">
							<label for="ClassId">Class ID:</label></div>

							<select class="form-select" name="ClassId" aria-label="Default select example">
								{{#each classes}}
								<option value="{{id}}" name="ClassId">{{id}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
				<br>
			</div>
			<div class="update">
				<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
			</div>
		</form>
	</div>
</div>

{{!-- <div class="form-group">
	<div class="row">
		<div class="col-25">
			<label for="title">Course Name:</label>
		</div>
		<div class="col-75">
			<select class="form-select" id="title" name="title" aria-label="Default">
				{{#each courses}}
				<option value="{{title}}" name="title">{{title}}</option>
				{{/each}}
			</select>
		</div>
	</div>
</div>
<br> --}}