<!--Popper 2.10.2, Bootstrap v4.6 JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<!--Javascript for table-->
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script>
	 function draw_picture(value, row, index) {
  return `<img style="width: 100px; height: 64px" src="${value}">`;
  }
  	const Booking = require('../models/Booking');
	const Class = require('../models/Class');
	const Course = require('../models/Course');
	const User = require('../models/User');
</script>

<style>
	label {
		display: inline-block;
	}
	.container {
		width: 60%;
		margin: auto;
	}
	.col-75 {
		margin-top: 2px;
		width: 200px;
	}
	#buttons {
		width: 200px;
		margin: 0 auto;
		display: inline;
	}
	
</style>

<p style="float: left">Home > Courses > Book Now </p>
<br>
<!--booking id, course id, class id,  user id, date created-->

<div class="container">
	{{#if classes}}
	<div class="card card-body">
		<h3 class="text-dark">Classes</h3>
		{{#each classes}}
			<div class="card border-black mb-2">
				<div class="card-body">
					<div class="row">

						<div class="col">
							<p class="text-primary">Course ID</p>
							<p class="text-dark">{{CourseId}}</p>
						</div>

						<div class="col">
							<p class="text-primary">Class ID</p>
							<p class="text-dark">{{id}}</p>
						</div>

						<div class="col">
							<p class="text-primary">Time</p>
							<p class="text-dark">{{time}}</p>
						</div>

						<div class="col">
							<p class="text-primary">Date</p>
							<p class="text-dark">{{date}}</p>
						</div>

					</div>
				</div>
			</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Classes</h3>
	{{/if}}

	<br>

	<div class="card card-body">
		<form action="" method="post">
			<div class="form-group">
				<h4><u>Edit Booking:</u></h4>
				<div class="row">
					<div class="col-25">
						<label for="CourseId">Course ID: </label>
					</div>
					<div class="col-75">
						<select class="form-select" id="CourseId" name="CourseId" aria-label="Default select example">
							{{#each courses}}
								<option id="CourseId" name="CourseId" selected>{{id}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="row">
					<div class="col-25">
						<label for="ClassId">Please choose your new class time and date:</label>
					</div>
					<div class="col-75">
						<select class="form-select" id="ClassId" name="ClassId" aria-label="Default select example">
							{{#each classes}}
								<option value="{{id}}" id="ClassId" name="ClassId">{{id}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			<br>					
			<div class="update">
				<button id="btnSubmit" type="submit" class="btn btn-primary">Update</button>
			</div>
		</form>
	</div>
</div>