<p>Home > Classes > Book Now</p>
<style type="type/css">
    .search-button{
      width: 25%; 
      height: 25%; 
    }
    div.container {
		width: 80%;
		margin: auto;
		margin-top: 30px;
	}
</style>

<div class="container">
	{{#if classes}}
	<div class="card card-body">
		<h3 class="text-black">Classes</h3>
		{{#each classes}}
        <p>Hi User {{userId}}</p>
        <p>Now you will be proceeding to book the classes available.</p>
        <h3 class="text-black">Workshops Available:</h3>
        <p>This will be class id #{{id}}</p>
		<div class="card border-black mb-2 w-100 mx-auto">
            <h5 class="card-starter">
                <!--According to difficulty="Advanced"-->
                <div class="card" style="width: 18rem;">
					{{!-- <img src="\public\img\advanced_img.jpg" class="card-img-top1" width="290" height="367"> --}}
                </div>
			<div class="card-body">
				<div class="row">					
					<div class="col">
						<p class="instructor_name">Instructor Name</p>
						<p class="text-primary">{{instructor_name}}</p>
					</div>

					<div class="col">
						<p class="course_name">Name</p>
						<p class="text-primary">{{course_name}}</p>
					</div>
					<p class="info">Information of course:</p>
                        <p>In this class, we will start to teach you more advance techniques that the industry uses and the necessary skills for you to start sewing your very own clothes.</p>

					<div class="col">
						<p class="course_difficulty">Difficulty</p>
						<p class="text-primary">{{course_difficulty}}</p>
					</div>
                    <br>
					
					<div class="col">
						<p class="course_price">Course Price</p>
						<p class="text-primary">{{course_price}}</p>
					</div>
                    <br>

					<div class="col">
						<p class="time">Time</p>
						<p class="text-primary">{{time}}</p>
					</div>
                    <br>

					<div class="col">
						<p class="date">Date</p>
                        <p class="text-primary">{{date}}</p>
					</div>
                    <br>
												
					<div class="col">
						<p class="class_no">Class</p>
						<p class="text-primary">{{class_no}}</p>
					</div>
                    <br>
						
					<div class="col">
						<p class="pax">Pax</p>
						<p class="text-primary">{{pax}}</p>
					</div>
                    <br>
                    <div class="submit">
                    <button class="btn btn-primary waves-effect" type="submit"><a href="/booking/confirm">Confirm Now</a></button>
                    </div>
				</div>
			</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Booking Available</h3>
	{{/if}}
</div>
