<div class="container">
	{{#if booking}}
	<div class="card card-body">
		<h3 class="text-black">Book Now</h3>
		{{#each booking}}
        <p>Please book and change the details to your preferences.</p>
		<!--booking id, course id, class id,  user id, date created-->
		<div class="card border-black mb-2">
			<div class="card-body">
				<div class="row">			
					<!-- automated-->
					<div class="col">
						<p class="text-primary">This is your current Booking ID</p>
						<p class="text-dark">{{id}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">This is the ID of the course you have picked:</p>
						<p class="text-dark">{{CourseId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">This is the ID of the Class you have picked:</p>
						<p class="text-dark">{{ClassId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">User ID:</p>
						<p class="text-dark">{{UserId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Cart ID:</p>
						<p class="text-dark">{{CartId}}</p>
					</div>
					<br>

                    <div class="submit">
                    <button class="btn btn-primary waves-effect" type="submit"><a href="/booking/confirm">Confirm Now</a></button>
                    </div>
				</div>
			</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Booking Available</h3>
	{{/if}}
</div>


					{{!-- <div class="col">
						<p class="course_id">Course ID</p>
						<p class="text-primary">{{course_id}}</p>
					</div>
                    <br>

                    <div class="col">
						<p class="class_id">Class ID</p>
						<p class="text-primary">{{class_id}}</p>
					</div>
					<br> --}}
