<p>Home > Courses > Book Now > Booking In Progress</p>
<div class="container">
	{{#if booking}}
		 <p>This are your current booking:</p>
		{{#each booking}}
		<!--booking id, course id, class id,  user id, date created-->
		<div class="card border-black mb-2">
			<div class="card-body">
				<div class="row">			
					<!-- automated-->
					<div class="col">
						<p class="text-primary">This is your current Booking ID</p>
						<p class="text-dark">{{id}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">This is the ID of the course you have picked:</p>
						<p class="text-dark">{{CourseId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">This is the ID of the Class you have picked:</p>
						<p class="text-dark">{{ClassId}}</p>
					</div>
					<br>

					<div class="col">
						<br>
						<br>
						<p>
							<a href="/booking/deleteBooking/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</p>
						<br>
					</div>
				</div>
					<div class="submit">
					<button class="btn btn-primary" type="submit"><a href="/booking/confirm/{{id}}">Confirm Now</a></button>
					</div>
			</div>
		</div>
		{{/each}}
	</div>
{{else}}
<h3>No Booking Available</h3>
{{/if}}
</div>

						{{!-- <p>
							<a href="/booking/editBooking/{{id}}" class="card-link mb-2">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
						</p> --}}
					{{!-- <div class="col">
						<p class="course_id">Course ID</p>
						<p class="text-primary">{{course_id}}</p>
					</div>
                    <br>

                    <div class="col">
						<p class="class_id">Class ID</p>
						<p class="text-primary">{{class_id}}</p>
					</div>
					<br> --}}
					{{!-- <div class="col">
						<p class="text-primary">Cart ID:</p>
						<p class="text-dark">{{CartId}}</p>
					</div>
					<br> --}}
