<style>
	label {
		display: inline-block;
	}

	.container {
		width: 60%;
		margin: auto;
	}

	.col-75 {
		margin-top: 2px;
		width: 200px;
	}

	.submit {
		width: 20%;
		margin: auto;
		text-align: center;
	}
</style>
<p style="float: left">Home > Courses > Book Now > Booking In Progress</p>
<br>
<div class="container">
	{{#if booking}}
		<b>This are your current bookings:</b>
		{{#each booking}}
		<p class="text-dark" style="text-align: left"> Number {{id}}:</p>
		<div class="card border-black">
			<div class="card-body">
				<div class="row">			
					<!-- automated-->
					<br>

					<div class="col">
						<p class="text-primary">ID of the course:</p>
						<p class="text-dark">{{CourseId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Title of the course:</p>
						<p class="text-dark">{{Course.title}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Level of the course:</p>
						<p class="text-dark">{{Course.level}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Description of the course:</p>
						<p class="text-dark">{{Course.description}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Class ID that you will be attending:</p>
						<p class="text-dark">{{ClassId}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Timing of class:</p>
						<p class="text-dark">{{Class.time}}</p>
					</div>
					<br>

					<div class="col">
						<p class="text-primary">Date of class:</p>
						<p class="text-dark">{{Class.date}}</p>
					</div>
					<br>

					{{!-- <div class="col">
						{{#each courses}}
						<a href="{{coursePic}}" data-title="{{title}}" data-toggle="lightbox">
                            <img src="{{coursePic}}" width="100px" height= "64px" onerror="this.src='/img/home_img.jpg'">
                        </a>
						{{/each}}
					</div> --}}

					<div class="col">
						<br>
						<br>
						<p>
							<a href="/booking/deleteBooking/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm delete?">
								<i class="far fa-trash-alt"></i>
								Delete
							</a>
						</p>

						<p>
							<a href="/booking/editBooking/{{id}}" class="card-link" data-toggle="confirmation"
								data-title="Confirm Edit?">
								<i class="bi bi-pencil-square"></i>
								Edit
							</a>
						</p>
						<br>
					</div>
				</div>
					<div class="submit">
					<button class="btn btn-primary" type="submit"><a href="/booking/confirm/{{id}}">Confirm Now</a></button>
					</div>
			</div>
		</div>
		{{/each}}
	</div>
{{else}}
<h3>No Booking Available</h3>
{{/if}}
</div>
