<p>Home > Workshop > Book Now > Booking Completion</p>
<div class="container">
	{{#if classes}}
	<div class="card card-body">
        {{#each classes}}
        <div class="card border-black mb-2 w-100 mx-auto">
                <p class="text-muted">Congratulations User {{userId}}!</p>
                <h4>Your Class #{{id}} is booked successfully!</h4>
                <div class="card-body">
				    <div class="row">					
                        <div class="col">
                            <p class="details">Details:</p>
                            <p class="text-primary">Time: {{time}}</p>
                            <p class="text-primary">Date: {{date}}</p>
                        </div>
                        <br>
                        <div class="col">
                            <p class="information">Information</p>
                            <p class="text-primary">Difficulty: {{course_difficulty}}</p>
                            <p class="text-primary">Course: {{course_name}}</p>
                            <p class="text-primary">Price: {{course_price}}</p>
                            <p class="text-primary">Pax: {{pax}}</p>
                        </div>
                        <br>
                    </div>
                    <button type="button" class="btn btn-light">Receipt to Email</button>
                    <button type="button" class="btn btn-light">Add to Calendar</button>
			    </div>
		{{/each}}
        </div>
</div>
{{else}}
<h3>No Classes has been Booked Successfully</h3>
{{/if}}
