<p>Home > Courses > Book Now > Booking Completion</p>
<div class="container">
	{{#if booking}}
	<div class="card card-body">
        {{#each booking}} 
        <div class="card border-black mb-2 w-50 mx-auto">
			<h5>Your Booking #{{id}} is booked successfully!</h5>
                <div class="card-body">
				    <div class="row">		
                        <div class="col">
							<u class="details">Details:</u>
							<br>
							<i class="text-dark">Course ID:</i> 
							<p class="text-primary"> {{CourseId}}</p>
							
							<i class="text-dark">Class ID:</i> 
							<p class="text-primary"> {{ClassId}}</p>
							
							<i class="text-dark">Date:</i> 
							<p class="text-primary">{{Class.date}}</p>
						</div>

						<div class="col">
							<u class="information">Full Information:</u>
							<br>
							<i class="text-dark">Course Name:</i> 
							<p class="text-primary">{{Course.title}}</p>
							
							<i class="text-dark">Course Description:</i> 
							<p class="text-primary">{{Course.description}}</p>
				
							<i class="text-dark">Level:</i> 
							<p class="text-primary">{{Course.level}}</p>
							
							<i class="text-dark">Price of the course:</i> 
							<p class="text-primary">{{Course.price}}</p>
							
							<i class="text-dark">Number of Pax selected:</i> 
							<p class="text-primary">{{Class.pax}}</p>
						</div>	
						<br>		
					</div>
						<div class="Receipt">
							<button type="button" class="btn btn-dark" href="/successful/sendEmail/:id">Receipt to Email</button>
							{{!-- <button type="button" class="btn btn-dark">Add to Calendar</button> --}}
						</div>
				</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<h3>No Classes has been Booked Successfully</h3>
	{{/if}}
</div>

