<p>Home > Workshop > Book Now > Booking Completion</p>

<p class="text-muted">Congratulations User {{userId}}!</p>

<h4>Your {{class_id}} is booked successfully!</h4>

<p>Details:</p>
<p>Time: {{time}}</p>
{{!-- <p>Date: {{date}}</p> --}}
<p>Instructor: {{instructor_name}}</p>

<p>Price:</p>
<p>{{price}}</p>

<p>Class:</p>
<p>{{name}}</p>

<button type="receipt">Receipt to Email</button>
<button type="calender">Add to Calender</button>
