

<link rel="stylesheet" href="/css/booking/confirmation.css">
<div class="container mt-3 rounded-2 border mt-3 rounded-2 border">
	{{#if booking}}
	<h5 class="mt-4 mx-auto">Your class has been booked successfully!</h5>
		<div>ID: {{booking.id}}</div>
		<div class="row mb-2 w-50 mx-auto">
				<dl class="row mx-auto">
					<dt class="col-sm-3">Details:</dt>
					<dd class="col-sm-9">
						<span></span>{{booking.Class.date}}, {{booking.Class.time}}<br>
						<span></span>{{booking.Course.level}} | {{booking.Course.title}}
						
					</dd>

				</dl>
				<a class="btn btn-info" href="/account/bookings">View Booking</a>
					<br>
				</div>
			</div>
		</div>
	{{else}}
	<h3>No Classes has been Booked Successfully</h3>
	{{/if}}
</div>