<style>
	.container{
		width: 40%;
		margin: auto;
	}
</style>

<h4><u>Updating Class</u></h4>

<div class="container">
	<form>
		<div class="form-row">
			<div class="col">
				<div class="form-row md-form">
					<label for="course_id">Course ID</label>
					<input class="form-control" id="course_id"  name="course_id" required value={{data.course_id}}>
				</div>

         		<div class="form-row md-form">
					<label for="class_id">Class ID</label>
					<input class="form-control" id="class_id"  name="class_id" required value={{data.class_id}}>
				</div>

          		<div class="form-row md-form">
					<label for="instructor_id">Instructor ID</label>
					<input class="form-control" id="instructor_id"  name="instructor_id" required value={{data.instructor_id}}>
				</div>

				<div class="form-row md-form">
					<label for="class_name">Name</label>
					<input class="form-control" id="class_name" name="class_name" required value={{data.class_name}}>
				</div>

				<div class="form-row md-form">
					<label for="difficulty">Difficulty</label>
					<input class="form-control" id="difficulty"  name="difficulty" required value={{data.difficulty}}>
				</div>

          		<div class="form-row md-form">
					<label for="time">Time</label>
					<input class="form-control" id="time"  name="time" required value={{data.time}}>
				</div>

          		<div class="form-row md-form">
					<label for="date">Date</label>
					<input class="form-control" id="date"  name="date" required value={{data.date}}>
            	</div>

				<div class="form-row md-form">
					<label for="class">Class</label>
					<input class="form-control" id="class" name="class" required value={{data.class}}>
				</div>

      			<div class="form-row md-form">
					<label for="pax">Pax</label>
					<input class="form-control" id="pax" name="pax" required value={{data.pax}}>
				</div>
			</div>
		</div>
	</form>
	<div class="submit">
		<button class="btn btn-primary waves-effect">Update</button>
		<!--<input type="submit value="Submit">-->
	</div>
</div>