<style>
	.container{
		width: 40%;
		margin: auto;
	}
</style>

<h4><u>Editing Class</u></h4>

<div class="container">
	<form action="/" method="post">
		<div class="form-group">
			<div class="col">
				{{!-- <div class="form-row md-form">
					<label for="class_id">Class ID</label>
					<input class="form-control" id="class_id"  name="class_id" required value={{this.class_id}}>
				</div> --}}

				<div class="form-row md-form">
					<label for="course_id">Course ID</label>
					<input class="form-control" id="course_id"  name="course_id" required value={{this.course_id}}>
				</div>
				
          		<div class="form-row md-form">
					<label for="instructor_id">Instructor ID</label>
					<input class="form-control" id="instructor_id"  name="instructor_id" required value={{this.instructor_id}}>
				</div>

				<div class="form-row md-form">
					<label for="name">Name</label>
					<input class="form-control" id="name" name="name" required value={{this.name}}>
				</div>
				
				<div class="form-row md-form">
					<label for="difficulty">Difficulty</label>
					<input class="form-control" id="difficulty"  name="difficulty" required value={{this.difficulty}}>
				</div>

				<div class="form-row md-form">
					<label for="time">Time</label>
					<input class="form-control" id="time" name="time" required value={{this.time}}>
				</div>

				{{!-- <div class="form-row md-form">
					<label for="date">Date</label>
					<input class="form-control" id="date"  name="date" required value={{this.date}}>
            	</div> --}}
				
				<div class="form-row md-form">
					<label for="date">Date</label>
					<br>
					<input id="datepicker" width="200" name="dateClasses" value="{{formatDate classes.dateClasses 'dd/mm/yyyy'}}" readonly />
            	</div>

				<div class="form-row md-form">
					<label for="class_no">Class</label>
					<input class="form-control" id="class_no" name="class_no" required value={{this.class_no}}>
				</div>

      			<div class="form-row md-form">
					<label for="pax">Pax</label>
					<input class="form-control" id="pax" name="pax" required value={{this.pax}}>
				</div>
			</div>
		</div>
		<br>
		<button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
	</form>
	</div>

{{!-- <script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy'
	});
</script> --}}